[Unit]
Description=Display Camera Feeds
After=network-online.target xorg.service
Wants=network-online.target
Requires=xorg.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
KillMode=control-group
GuessMainPID=no
TimeoutStopSec=30
ExecStart=/usr/bin/displaycameras start
ExecStop=/usr/bin/displaycameras stop
ExecReload=/usr/bin/displaycameras repair

[Install]
WantedBy=multi-user.target
