[Unit]
Description=Display Camera Feeds
After=network-online.target xorg.service
Wants=network-online.target
Requires=xorg.service

[Service]
Type=forking
ExecStart=/usr/bin/displaycameras start
ExecStop=/usr/bin/displaycameras stop
ExecReload=/usr/bin/displaycameras repair
PIDFile=/var/run/displaycameras/displaycameras.pid
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
